In [1]:
import numpy as np
import pandas as pd

In [8]:
calendar=pd.read_csv("calendar.csv")

In [9]:
calendar[0:3]

   listing_id        date available   price metro_area
0        2515  2018-03-05         t  $69.00        NYC
1        2515  2018-03-04         t  $69.00        NYC
2        2515  2018-03-03         t  $69.00        NYC

In [43]:
#set(calendar['metro_area'])
set(listings['metropolitan'])

{'NYC', 'boston', 'chicago', 'dc', 'denver'}

In [51]:
listings=pd.read_csv("listings.csv")
real_estate=pd.read_csv("real_estate.csv")
econ_state=pd.read_csv("econ_state.csv")

In [159]:
listings.head()

,accommodates,amenities,availability_30,bathrooms,bed_type,bedrooms,beds,cancellation_policy,city,has_availability,...,review_scores_checkin,review_scores_cleanliness,review_scores_communication,review_scores_location,review_scores_rating,review_scores_value,room_type,state,weekly_price,zipcode
0,2.0,"{""Cable TV"",""Wireless Internet"",""Air condition...",24,1.0,Real Bed,1.0,1.0,moderate,sunnysidebronx,NaN,...,10.0,10.0,10.0,10.0,100.0,10.0,Private room,NY,NaN,10464
1,4.0,"{TV,Internet,""Wireless Internet"",""Air conditio...",30,1.0,Real Bed,1.0,1.0,flexible,sunnysidebronx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Private room,NY,NaN,10464
2,4.0,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",30,3.0,Real Bed,3.0,3.0,strict,sunnysidebronx,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Entire home/apt,NY,NaN,10464
3,3.0,"{TV,Internet,""Wireless Internet"",""Air conditio...",8,1.0,Real Bed,1.0,1.0,strict,long island city,NaN,...,10.0,10.0,10.0,10.0,93.0,10.0,Entire home/apt,NY,$775.00,10464
4,4.0,"{Internet,""Wireless Internet"",""Air conditionin...",17,1.0,Real Bed,1.0,1.0,moderate,sunnysidebronx,NaN,...,10.0,10.0,10.0,10.0,97.0,10.0,Private room,NY,$350.00,10464

In [158]:
#listings[0:1]
#calendar.shape
#listings.shape
#cal_list.shape
#list_econ.shape
#real_estate.shape
#real_estate.dtypes

In [45]:
#listings.loc[listings['id']==7949480,["state"]]=99

In [122]:
#cal_list=pd.merge(listings,calendar,how="inner",left_on='id',right_on='listing_id')
list_econ=pd.merge(listings,econ_state.iloc[:,[0,41,42,43,44,45,46,47]],how="left",left_on='state',right_on="state")

In [142]:
colrange=[i for i in range(244,262)]
colrange.extend([0,1])
list_econ['zipcode']
list_econ_real=pd.merge(list_econ,real_estate.iloc[:,colrange],how="left",left_on="zipcode",right_on='zipcode')

In [151]:
list_econ_real.iloc[:,27:40]

,weekly_price,zipcode,2015Q1_gdp,2015Q2_gdp,2015Q3_gdp,2015Q4_gdp,2016Q1_gdp,2016Q2_gdp,2016Q3_gdp,2016-01,2016-02,2016-03,2016-04
0,NaN,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
1,NaN,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
2,NaN,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
3,$775.00,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
4,$350.00,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
5,$550.00,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
6,NaN,10464,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
7,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
8,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
9,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
10,$350.00,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
11,$300.00,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
12,NaN,10462,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
13,$305.00,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
14,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
15,$250.00,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
16,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
17,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
18,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
19,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
20,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
21,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
22,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
23,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
24,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
25,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
26,NaN,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
27,$370.00,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
28,$280.00,10469,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
29,NaN,10467,1412184.0,1431902.0,1450379.0,1439659.0,1465941.0,1474777.0,1494116.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59794,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59795,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59796,$800.00,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59797,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59798,NaN,20002,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59799,NaN,20002,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59800,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59801,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59802,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59803,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59804,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59805,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59806,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59807,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59808,NaN,20003,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59809,"$1,250.00",20002,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59810,NaN,20912,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59811,NaN,20748,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59812,NaN,20912,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59813,NaN,20006,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59814,NaN,20816,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59815,NaN,20712,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59816,NaN,20816,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59817,NaN,20782,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59818,NaN,20020,120645.0,122217.0,122571.0,123149.0,125414.0,126484.0,128063.0,NaN,NaN,NaN,NaN
59819,NaN,20910,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59820,NaN,20816,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59821,NaN,20748,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59822,NaN,20910,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN
59823,NaN,20743,360962.0,363393.0,366162.0,370908.0,369056.0,371812.0,376010.0,NaN,NaN,NaN,NaN

In [127]:
#real_estate.iloc[0:3,colrange]
real_estate.iloc[0:3,colrange]

,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08,2016-09,2016-10,2016-11,2016-12,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,type,zipcode
0,1007800,1031000.0,1055800.0,1063500.0,1062900.0,1080800,1109400,1132500,1137500,1137700,1152700,1156000.0,1140200,1130000,1131900,1149600,1198400,1247000,ZHVI,10025
1,311800,313100.0,315000.0,317000.0,317500.0,317500,317900,318600,318200,318100,318800,320200.0,320800,322000,323800,326100,327800,329100,ZHVI,60657
2,393200,397200.0,400500.0,404000.0,403500.0,401400,400100,400700,401900,406000,414100,417800.0,417400,418400,414100,404100,406400,415500,ZHVI,60614